.titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formulario{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputs{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.boton{
    background-color: blue;
    color: white;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.boton :hover{
    cursor: pointer;
}
.formulario .titulo2{
    margin-left: -320px;
}
.page-header{

    margin-left: 50px;
    margin-top: 40px;

}